<template>
    <div>
        <div v-for="(todo, index) in todoList" :key="index" class="card todo-card-width my-3">
            <div class="mb-2 d-flex align-items-center justify-content-between">
                <div @click="openEditTodoModal(todo, index)">
                    <h4 class="text-blue">{{todo.title}}</h4>
                </div>
                <div class="delete-box d-flex justify-content-center" @click="openDeleteTodoModal(todo._id, todo.title, index)">
                    <span>X</span>
                </div>
            </div>
            <div @click="openEditTodoModal(todo, index)">
                <span class="p16">Description: </span><br>
                <span class="p14">{{todo.description}}</span>
            </div>
        </div>

        <div class="modal fade" id="deleteTodoModal">
            <div class="modal-dialog">
                <div class="modal-content w-100">
                    <div class="modal-body">
                        <p class="p16 text-red">Do you really wantna delete {{forDeleteTodo.title}}?</p>
                    </div>
                    <div class="modal-footer d-flex align-items-center justify-content-between">
                        <div class="w-30">
                            <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="w-30">
                            <button class="btn-save" @click="onDeleteTodo()">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editTodoModal">
            <div class="modal-dialog">
                <div class="modal-content modal-height">
                    <div class="modal-body">
                        <div>
                            <label class="p16">Title: </label>
                            <input type="text" class="form-control" v-model="form.title">
                        </div>
                        <div>
                            <label class="p16">Description: </label>
                            <textarea type="text" class="form-control" rows="4" v-model="form.description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="w-30">
                                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="w-30">
                                    <button class="btn-save" @click="onEditTodo()">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                forDeleteTodo: {
                    id: '',
                    title: '',
                    index: ''
                }, 
                form: {
                    id: '',
                    title: '',
                    description: '',
                },
                editIndex: ''
            }
        },
        props: [
            'todoList'
        ],
        methods: {
            openDeleteTodoModal (id, title, index) {
                $('#deleteTodoModal').modal('show')
                this.forDeleteTodo.id = id
                this.forDeleteTodo.title = title
                this.forDeleteTodo.index = index
            },
            openEditTodoModal (todo, index) {
                this.form.id = todo._id
                this.form.title = todo.title
                this.form.description = todo.description
                this.editIndex = index
                $('#editTodoModal').modal('show')

            },
            async onEditTodo () {
                let params = {
                    id: this.form.id,
                    title: this.form.title,
                    description: this.form.description
                }
                await this.$store.dispatch('editTodo', params)
                this.$emit('isRefresh', true)
                $('#editTodoModal').modal('hide')
            },
            async onDeleteTodo () {
                await this.$store.dispatch('deleteTodo', this.forDeleteTodo.id)
                this.$emit('isRefresh', true)
                $('#deleteTodoModal').modal('hide')
            }
        }
    }
</script>

<style lang="css" scoped>
    .todo-card-width {
        min-width: 500px;
    }
    .delete-box {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: #fff;
        background-color: #F13A3A;
        cursor: pointer;
    }
</style>