<template>
<div class="main-bg">
    <div class="container screen-height">
        <div class="d-flex align-items-center justify-content-center">
            <div class="card my-4 w-50">
                <div>
                    <label class="p16">Username: </label>
                    <input type="text" class="form-control" v-model="username">
                </div>
                <div>
                    <label class="p16">Password: </label>
                    <input type="password" class="form-control" v-model="password">
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <button class="btn-save w-30" @click="doLogin()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>
    export default {
        data () {
            return {
                username: '',
                password: ''
            }
        },
        methods: {
            async doLogin () {
                let param = {
                    username: this.username,
                    password: this.password
                }
                const token = await this.$axios.$post(`${process.env.api}/todo/users/auth`, param)
                this.$store.commit('setToken', token.token)
                this.$router.push('/todoPage')
            }
        }
    }
</script>

<style lang="css" scoped>
    
</style>