.main-bg {
    background-color: #E0F9FF;
}
.screen-height {
    height: 1080px;
}
.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
}
.modal-height {
    min-height: 300px;
}
.text-red {
    color: #F13A3A;
}

/* btn */
.btn-save {
    width: 100%;
    padding: 0.5rem;
    background-color: #00B9FF;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.btn-cancel {
    width: 100%;
    padding: 0.5rem;
    background-color: #F13A3A;
    border-radius: 5px;
    border: none;
    color: #fff;
}