/* margin */
.m-0{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.m-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.m-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.m-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.m-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.mx-0{
    margin-left: 0;
    margin-right: 0;
}
.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-2{
    margin-left: 2rem;
    margin-right: 2rem;
}
.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}
.mx-4{
    margin-left: 4rem;
    margin-right: 4rem;
}
.my-0{
    margin-top: 0;
    margin-bottom: 0;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-10{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.mt-0{
    margin-top: 0;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mb-0{
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.ml-0{
    margin-left: 0;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}
.mr-0{
    margin-right: 0;
}
.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}
.mr-4{
    margin-right: 4rem;
}

/* padding */
.p-0{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.p-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.p-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.p-4{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-3{
    padding-left: 3rem;
    padding-right: 3rem;
}
.px-4{
    padding-left: 4rem;
    padding-right: 4rem;
}
.py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.py-4{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pt-0{
    padding-top: 0;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-6{
    padding-top: 6rem;
}
.pb-0{
    padding-bottom: 0;
}
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pl-0{
    padding-left: 0;
}
.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pl-3{
    padding-left: 3rem;
}
.pl-4{
    padding-left: 4rem;
}
.pr-0{
    padding-right: 0;
}
.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 2rem;
}
.pr-3{
    padding-right: 3rem;
}
.pr-4{
    padding-right: 4rem;
}
.pr-8{
    padding-right: 8rem;
}

/* font-size */
.p10{
    font-size: 10px;
}
.p11{
    font-size: 11px;
}
.p12{
    font-size: 12px;
}
.p13{
    font-size: 13px;
}
.p14{
    font-size: 14px;
}
.p16{
    font-size: 16px;
}
.p18{
    font-size: 18px;
}
.p20{
    font-size: 20px;
}
.p22{
    font-size: 22px;
}
.p24{
    font-size: 24px;
}
.p26{
    font-size: 26px;
}
.p30{
    font-size: 30px;
}
.p36{
    font-size: 36px;
}
.p80{
    font-size: 80px;
}

/* flex */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-left{
    justify-content: left;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-right{
    justify-content: right;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-start{
    align-items: flex-start;
}
.align-items-flex-end{
    align-items: flex-end;
}

/* text-color */
.text-white{
    color: #fff;
}
.text-blue{
    color: #4a90e2 !important;
}
.text_blue{
    color: #4a90e2 !important;
}
.text-darkblue{
    color: #014ac6 !important;
}
.text-gray{
    color: #606060 !important;
}
.text-lightgray{
    color: #aeaeae !important;
}
.text-orange{
    color: #ff9f43 !important;
}
.text-green{
    color: #21c86d !important;
}
.text-violet{
    color: #C419FA !important;
}
.text-yellow{
    color: #E8D728 !important;
}

/* text */
.fw-b{
    font-weight: bold;
}
.text-underline{
    text-decoration: underline;
}
.hide-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.textarea-line-break{
    white-space: pre-line;
}

/* position */
.position-re{
    position: relative;
}
.position-ab{
    position: absolute;
}

/* left, right */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}

@media only screen and (min-width: 769px){
    .lg-float-r{
        float: right;
    }
}

/* display */
.d-block{
    display: block;
}
.d-none{
    display: none !important;
}
.cursor-p{
    cursor: pointer;
}
.cursor-not-allow{
    cursor: not-allowed;
}

@media only screen and (max-width: 768px){
    .md-d-none{
        display: none
    }
}

/* bottom */
.b-0{
    bottom: 0 !important;
}

/* width */
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
.w-11{
    width: 11%;
}
.w-15{
    width: 15%;
}
.w-17{
    width: 17%;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-32{
    width: 32%;
}
.w-33{
    width: 33.33% !important;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.w-100{
    width: 100%;
}
.min-w-100px{
    min-width: 100px;
}
.min-w-150px{
    min-width: 150px;
}
.min-w-200px{
    min-width: 200px;
}

@media only screen and (max-width: 768px){
    .sm-w-100{
        width: 100%;
    }
}

/* height */
.h-50px{
    height: 50px;
}

/* overflow */
.overflow-scroll{
    overflow: scroll;
}
.overflow-y-scroll{
    overflow-y: scroll;
}
.overflow-x-scroll{
    overflow-x: scroll;
}

@media only screen and (min-width: 769px){
    .lg-pt-6{
        padding-top: 6rem;
    }
}

@media only screen and (max-width: 768px){
    .md-m-2{
        margin: 2rem;
    }
    .md-mt-1{
        margin-top: 1rem;
    }
    .md-pt-3{
        padding-top: 3rem;
    }
}

@media only screen and (max-width: 600px){
    /* margin */
    .sm-m-0{
        margin: 0;
    }
    .sm-m-1{
        margin: 1rem;
    }
    .sm-m-2{
        margin: 2rem;
    }
    .sm-m-3{
        margin: 3rem;
    }
    .sm-m-4{
        margin: 4rem;
    }
    .sm-my-0{
        margin-top: 0;
        margin-bottom: 0;
    }
    .sm-my-1{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sm-my-2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .sm-my-3{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .sm-my-4{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .sm-mx-0{
        margin-left: 0;
        margin-right: 0;
    }
    .sm-mx-1{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sm-mx-2{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .sm-mx-3{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .sm-mx-4{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .sm-mt-0{
        margin-top: 0;
    }
    .sm-mt-1{
        margin-top: 1rem;
    }
    .sm-mt-2{
        margin-top: 2rem;
    }
    .sm-mt-3{
        margin-top: 3rem;
    }
    .sm-mt-4{
        margin-top: 4rem;
    }
    .sm-mb-0{
        margin-bottom: 0;
    }
    .sm-mb-1{
        margin-bottom: 1rem;
    }
    .sm-mb-2{
        margin-bottom: 2rem;
    }
    .sm-mb-3{
        margin-bottom: 3rem;
    }
    .sm-mb-4{
        margin-bottom: 4rem;
    }
    .sm-ml-0{
        margin-left: 0;
    }
    .sm-ml-1{
        margin-left: 1rem;
    }
    .sm-ml-2{
        margin-left: 2rem;
    }
    .sm-ml-3{
        margin-left: 3rem;
    }
    .sm-ml-4{
        margin-left: 4rem;
    }
    .sm-mr-0{
        margin-right: 0;
    }
    .sm-mr-1{
        margin-right: 1rem;
    }
    .sm-mr-2{
        margin-right: 2rem;
    }
    .sm-mr-3{
        margin-right: 3rem;
    }
    .sm-mr-4{
        margin-right: 4rem;
    }

    /* padding */
    .sm-p-0{
        padding: 0;
    }
    .sm-p-1{
        padding: 1rem;
    }
    .sm-p-2{
        padding: 2rem;
    }
    .sm-p-3{
        padding: 3rem;
    }
    .sm-p-4{
        padding: 4rem;
    }
    .sm-py-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .sm-py-1{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sm-py-2{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .sm-py-3{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .sm-py-4{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .sm-px-0{
        padding-left: 0;
        padding-right: 0;
    }
    .sm-px-1{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sm-px-2{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sm-px-3{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .sm-px-4{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .sm-pt-0{
        padding-top: 0;
    }
    .sm-pt-1{
        padding-top: 1rem;
    }
    .sm-pt-2{
        padding: 2rem;
    }
    .sm-pt-3{
        padding-top: 3rem;
    }
    .sm-pt-4{
        padding-top: 4rem;
    }
    .sm-pb-0{
        padding-bottom: 0;
    }
    .sm-pb-1{
        padding-bottom: 1rem;
    }
    .sm-pb-2{
        padding-bottom: 2rem;
    }
    .sm-pb-3{
        padding-bottom: 3rem;
    }
    .sm-pb-4{
        padding-bottom: 4rem;
    }
    .sm-pl-0{
        padding-left: 0;
    }
    .sm-pl-1{
        padding-left: 1rem;
    }
    .sm-pl-2{
        padding-left: 2rem;
    }
    .sm-pl-3{
        padding-left: 3rem;
    }
    .sm-pl-4{
        padding-left: 4rem;
    }
    .sm-pr-0{
        padding-right: 0;
    }
    .sm-pr-1{
        padding-right: 1rem;
    }
    .sm-pr-2{
        padding-right: 2rem;
    }
    .sm-pr-3{
        padding-right: 3rem;
    }
    .sm-pr-4{
        padding-right: 4rem;
    }
    
}
.p_in{
    padding: initial;
}
.pt_2{
    padding-top: 2em;
}
.pl_2{
    padding-left: 2em;
}
.pr_2{
    padding-right: 2em;
}

/* overflow */
.overflow-auto{
    overflow: auto;
}