<template>
    <div class="container-fluid screen-height">
        <div class="d-flex justify-content-center">
            <div class="todo-box">
                <span v-if="todoList.length == 0" class="mt-4 p18 text-red text-underline">There is no Todo</span>
                <todo-list :todoList="todoList" @isRefresh="isRefresh = $event"></todo-list>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="w-40">
                <button class="btn-save" @click="openCreateTodoModal()">+ Create</button>
            </div>
        </div>
        <div class="modal fade" id="createTodoModal">
            <div class="modal-dialog">
                <div class="modal-content modal-height">
                    <div class="modal-body">
                        <div>
                            <label class="p16">Title: </label>
                            <input type="text" class="form-control" v-model="form.title">
                        </div>
                        <div>
                            <label class="p16">Description: </label>
                            <textarea type="text" class="form-control" rows="4" v-model="form.description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="w-30">
                                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="w-30">
                                    <button class="btn-save" @click="onCreateTodo()">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TodoList from '@/components/todoComponents/todoList.vue'
    export default {
        data () {
            return {
                form: {
                    title: '',
                    description: ''
                },
                todoList: [],
                isRefresh: false
            }
        },
        components: {
            TodoList
        },
        computed: {
            token () {
                return this.$store.getters.getToken
            }
        },
        watch: {
            isRefresh (nData, oData) {
                if (nData === true) {
                    this.getTodoList()
                }
            }
        },
        created () {
            // console.log(this.token)
            this.getTodoList()
        },
        methods: {
            openCreateTodoModal () {
                $('#createTodoModal').modal('show')
            },
            async onCreateTodo () {
                let params = {
                    title: this.form.title,
                    description: this.form.description
                }
                await this.$store.dispatch('createTodo', params)
                this.getTodoList()
                this.form = []
                $('#createTodoModal').modal('hide')
                // this.todoList = this.$store.getters.getToken
            },
            async getTodoList () {
                await this.$store.dispatch('getTodoList')
                this.todoList = this.$store.getters.getTodoList
                this.isRefresh = false
            }
        }
    }
</script>

<style lang="css" scoped>
    .todo-box {
        min-height: 500px;
    }
</style>